* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none; 
    display: flex;
    justify-content: flex-end;
    padding: 10px; 
}

nav li {
    margin-left: 20px; 
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

/* TODO: Make hover animation have a line go underneath the text */
nav li a:hover {
    background-color: #ddd;
    color: black;
}

nav li a.active {
    background-color: #04AA6D;
    color: white;
}

/* Hero section */
.hero-section {
    /*TODO: edit the photo in photoshop to look like the one in figma */
    background-image: url('steak.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6rem;
}

.title {
    margin: 5rem 0 0 2rem;
}

.title h1 {
    font-size: 5rem; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-bottom: 0.25rem;
}

.title span {
    color: white;
}

.times {
    margin: 2em;
}

.times p {
    font-size: 1.2rem;
    color: white;
    text-align: right;
    line-height: 1.5;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

/* TODO: Make button look like the ones on figma */
.cta-button {
    border: none;
    background-color: #800000;
    color: #FFFFFF;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}
