* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none; 
    display: flex;
    justify-content: flex-end;
    padding: 1em; 
}

nav li {
    margin-left: 1em; 
}

nav li a {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;
}
/*TODO: this animation can be more saucy*/
nav li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s;
}

nav li a:hover::after {
    width: 100%;
    left: 0;
    background: white;
}
/** HERO SECTION **/
.hero-section {
    /*TODO: edit the photo in photoshop to look like the one in figma */
    background-image: url('steak.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}
/*TODO: made sure we are happy with the font sizes, font family etc. */
.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10em;
}

.title {
    margin: 5em 0 0 10em;
}

.title h1 {
    margin-bottom: 0.25em;
    font-size: 5rem; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.title span {
    color: white;
}

.times {
    margin: 2em;
}

.times p {
    font-size: 1.2rem;
    color: white;
    text-align: right;
    line-height: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.buttons {
    display: flex;
    gap: 4em;
    margin-top: 3em;
}

/* TODO: Make button look like the ones on figma */
.cta-button {
    border: none;
    background-color: #800000;
    color: #FFFFFF;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}
/* TODO: Saucier hover animations */
.cta-button:hover {
    background-color: #A00000; 
    color: #FFFFFF; 
}

.cta-button2 {
    border: 0.2em solid #800000;
    background-color: rgba(255,255,255,0);
    color: #FFFFFF;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.cta-button2:hover {
    background-color: #800000; 
    color: #FFFFFF; 
}
/** FUNCTIONS SECTION **/
.functions {
    padding: 5em 10%;
}

.function-content {
    display: flex;
    flex-direction: row;
    gap: 10em;
}

.function-information {
    width: 60ch;
    font-size: 1.5rem;
}

.function-information h1{
    font-size: 5rem;
    margin-bottom: 0.25em;
}

.functions-button {
    margin-top: 1em;
    width: 100%;
}

.function-photos {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.function-photos img{
    width: 800px;
    height: 375px;
}
/** CREDENTIALS SECTION **/
.credentials {
    height: 40%;
    padding: 5em 10%;
    background-color: #4C0000;
}
/*TODO: Fix spacing */
.credentials-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.award {
    display: flex;
    flex-direction: column;
}

.award img {
    width: 100%;
    height: 100px;
}
/** MENU FAVOURITES SECTION **/

/** NEWSLETTER SECTION **/
.newsletter {
    padding: 5em 10%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.newsletter-content img{
    width: 350px;
    height: 650px;
}

.newsletter-images {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: space-evenly;
}

/** FOOTER SECTION **/
footer {
    background-color: #4C0000;
    color: #FFFFFF;
}
