* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none; 
    display: flex;
    justify-content: flex-end;
    padding: 1em; 
}

nav li {
    margin-left: 1em; 
}

nav li a {
    display: block;
    padding: 0.5em 1em;
    text-align: center;
    color: white;
    text-decoration: none;
    position: relative;
}

nav li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s;
}

nav li a:hover::after {
    width: 100%;
    left: 0;
    background: white;
}

.hero-section {
    /*TODO: edit the photo in photoshop to look like the one in figma */
    background-image: url('steak.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}

.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10em;
}

.title {
    margin: 5em 0 0 10em;
}

.title h1 {
    margin-bottom: 0.25em;
    font-size: 5rem; 
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.title span {
    color: white;
}

.times {
    margin: 2em;
}

.times p {
    font-size: 1.2rem;
    color: white;
    text-align: right;
    line-height: 1.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.buttons {
    display: flex;
    gap: 4em;
    margin-top: 3em;
}

/* TODO: Make button look like the ones on figma */
.cta-button {
    border: none;
    background-color: #800000;
    color: #FFFFFF;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.cta-button:hover {
    background-color: #A00000; 
    color: #FFFFFF; 
}

.cta-button2 {
    border: 0.2em solid #800000;
    background-color: rgba(255,255,255,0);
    color: #FFFFFF;
    padding: 1em 2em;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 16px; 
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.cta-button2:hover {
    background-color: #800000; 
    color: #FFFFFF; 
}
